.arc{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    padding: 80px;
    transform: translate(-50%, -50%);
}

.arc{
    background: radial-gradient(circle at top left, transparent 15px, deeppink 0) top left,
                radial-gradient(circle at top right, transparent 15px, deeppink 0) top right,
                radial-gradient(circle at bottom left, transparent 15px, deeppink 0) bottom left,
                radial-gradient(circle at bottom right, transparent 15px, deeppink 0) bottom right;
    background-size: 50% 50%;
    background-repeat: no-repeat;
}

.gradients1{
    position: absolute;
    left: 20%;
    top: 10px;
    background: radial-gradient(circle at top left, transparent 15px, greenyellow 0);
    padding: 30px 10px;
    width: 200px;
}
.gradients2{
    position: absolute;
    left: 20%;
    top: 90px;
    background: radial-gradient(circle at top right, transparent 15px, rosybrown 0);
    padding: 30px 10px;
    width: 200px;
}
.gradients3{
    position: absolute;
    left: 20%;
    top: 170px;
    background: radial-gradient(circle at bottom left, transparent 15px, goldenrod 0);
    padding: 30px 10px;
    width: 200px;
}
.gradients4{
    position: absolute;
    left: 20%;
    top: 250px;
    background: radial-gradient(circle at bottom right, transparent 15px, skyblue 0);
    padding: 30px 10px;
    width: 200px;
}